<% if Rails.env.demo? and !@css %>
<head><link rel="stylesheet" type="text/css" href="/application.css" /></head>
<title>Ooo (demo mode)</title>
<% flash.each do |key, value| %>
  <%= content_tag(:div, value, :class => "flash #{key}") %>
<% end %>
<% @dir = $params["dir"] %>
<%= render "pages/filebrowser" %>
<% else %>
<% unless @download %>
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/REC-html40/loose.dtd">
<html>
<head>
  <title><%= @title ? "#{@title} - " : "" %>Ooo</title>
  <%# stylesheet_link_tag    "application", :media => "all" %>
  <link rel="stylesheet" type="text/css" href="/application.css" />
  <%# javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render "layouts/render_view" %>
<%# debug(params) if Rails.env.development? %><%# <-- [we don't need this] %>

</body>
</html>
<% else %>
<%= yield %>
<% end %>
<%= debug(params) if Rails.env.development? %><%# not causing problems %>
<% end %>